.container {
    grid-template-columns: auto auto auto;
}

#search-bar-library {
    border: 2px solid #0d0d0d;
    border-radius: 1.5rem;
    width: 45%;
    padding: 10px;
    font-size: large;

}

form {
    background: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    background-color: #7a7676;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.title-size {
    font-size: xx-large;
}

.remove-from-library-btn {
    background-color: #B23535;
    color: white;
    border: none;
    padding: 18px 18px;
    margin: 0.5% 0.5%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: right;
}

.nominate-btn {
    background-color: #B23535;
    color: white;
    border: none;
    padding: 18px 18px;
    margin: 0.5% 0.5%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: right;
}

.nomination-category {
    background-color: #B23535;
    color: white;
    border: none;
    padding: 18px 18px;
    margin: 0.5% 0.5%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: right;
}

.nominate-btn:hover {
    opacity: 0.8;
    color: #ff5555;
}

.remove-from-library-btn:hover {
    opacity: 0.8;
    color: #ff5555;
}