
.container {
    grid-template-columns: auto auto auto;
}

#search-bar {
    border: 2px solid #0d0d0d;
    border-radius: 1.5rem;
    width: 45%;
    padding: 10px;
    font-size: large;

}

form {
    background: rgb(75, 70, 70);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    background-color: #7e868c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #c83f3f;
}

.title-size {
    font-size: xx-large;
}