html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  padding: 20px;
  margin: 0;
}

main a {
  text-decoration: none;
  color: inherit;
}

main a:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vh;
  padding: 1vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.featured-article {
  grid-column: span 3;
  background-image: url('/images/silksong.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#922d2d;
  background-position: center;
  height: 40vh;
  position: relative;
  color: white;
}

.sub-article {
  height: 30vh;
  background-size: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-color:#922d2d;
  background-position: center;
  position: relative;
  color: white;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  top:60%;
  padding: 15px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.overlay h2 {
  margin: 0 0 10px;
  font-size: 24px;
}

.overlay p {
  margin: 0;
  font-size: 16px;
  padding-top: 1vh;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;   
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.hover {
  opacity: 0.8;
}

.add-button {
  background-color: #B23535;
  color: white;
  border: none;
  padding: 1% 5%;
  margin: 0.1% 10%;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: right;
  float: right;
  z-index: 10;
  position: top;
}

.add-button-admin {
  background-color: #B23535;
  color: white;
  border: dashed yellow;
  padding: 1% 2%;
  margin: 0.5% 0.5%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: right;
  float: right;
  z-index: 12;
}

.popup {
  width: 400px;
  height: 290px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  background: white;
  visibility: hidden;
  z-index: 9999;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #B23535;
  color: white;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: top;
  float: top;
}

.popup button:hover {
  background-color: #922d2d;
}